.navbar.navbar-default.navbar-fixed-top(role='navigation')
  .container-fluid
    .row
      a.navbar-brand(href='#') Topdeck.pro
        sup
          small.label.label-danger alpha

      .navbar-form.navbar-right(role='help')
        button#feedback-btn.btn.btn-danger Feedback and Support

      #td-search.navbar-form
#td-main
