-e git+ssh://git@git.ostrovok.ru/common@54212c1#egg=ostrovok_common
-e git+git://github.com/ostrovok-team/js-beautify@ccd8f219a87aea16cebe5661008e9d93c9b62efb#egg=jsbeautifier
-e git+git://github.com/ostrovok-team/django-mediagenerator.git@ddcbaf24bb1bb7cc83ad8fa4d9bd80a890d7d650#egg=mediagenerator
-e git+git://github.com/ostrovok-team/xact.git@65e19094#egg=xact
Django==1.4.2
South==0.7.6
django-arrayfields==0.1.0
django-debug-toolbar==0.9.4
django-extensions==0.8
django-modeltranslation==0.3.3
django-nose==1.1
django-tastypie==0.9.11
gevent==0.13.8
ipdb==0.6.1
lxml==2.3.5
mock==1.0.1
psycopg2==2.4.1
requests==1.1.0
