-r requirements.txt
-r requirements-crawl.txt
PyYAML==3.11
docker-py==0.5.3
dockerpty==0.3.2
docopt==0.6.2
fig==1.0.1
flake8==2.2.1
gnureadline==6.3.3
honcho==0.5.0
ipdb==0.8
ipython==2.1.0
jedi==0.8.0-final0
mccabe==0.2.1
pep8==1.5.7
pipdeptree==0.4
pyflakes==0.8.1
requests==2.5.1
texttable==0.8.1
websocket-client==0.11.0
yolk==0.4.3
