body.modal-open, .modal-open .navbar-fixed-top
  margin-right 0

.modal-dialog
  width auto
  margin 50px 60px
  padding 0

  .close
    position absolute
    top 20px
    right 20px
    z-index 1500

#td-nav-prev
  float left

#td-nav-next
  float right
