<div class="group">
    <div class="btn-toolbar">
        <div class="btn-group check-toggles app-color-toggles" data-toggle="buttons-checkbox">
            <button class="btn" type="button" id="color-toggle-b" data-event-click="controllers.search.toggle">
                <i class="icon-color-b"></i>
            </button>
            <button class="btn" type="button" id="color-toggle-u" data-event-click="controllers.search.toggle">
                <i class="icon-color-u"></i>
            </button>
            <button class="btn" type="button" id="color-toggle-w" data-event-click="controllers.search.toggle">
                <i class="icon-color-w"></i>
            </button>
            <button class="btn" type="button" id="color-toggle-g" data-event-click="controllers.search.toggle">
                <i class="icon-color-g"></i>
            </button>
            <button class="btn" type="button" id="color-toggle-r" data-event-click="controllers.search.toggle">
                <i class="icon-color-r"></i>
            </button>
            <button class="btn" type="button" id="color-toggle-c" data-event-click="controllers.search.toggle">
                <i class="icon-color-1"></i>
            </button>
            <button class="btn" type="button" id="color-toggle-a" data-event-click="controllers.search.toggle">
                AND
            </button>
        </div>
    </div>
</div>
<!--<div class="group">
    <div class="btn-toolbar">
        <div class="btn-group check-toggles app-cmc-toggles" data-toggle="buttons-checkbox">
            <input type="hidden" name="cmc" value="">
            <button class="btn" type="button" id="cmc-toggle-0">
                0
            </button>
            <button class="btn" type="button" id="cmc-toggle-1">
                1
            </button>
            <button class="btn" type="button" id="cmc-toggle-2">
                2
            </button>
            <button class="btn" type="button" id="cmc-toggle-3">
                3
            </button>
            <button class="btn" type="button" id="cmc-toggle-4">
                4
            </button>
            <button class="btn" type="button" id="cmc-toggle-5">
                5
            </button>
            <button class="btn" type="button" id="cmc-toggle-6">
                6
            </button>
            <button class="btn" type="button" id="cmc-toggle-7">
                7+
            </button>
        </div>
    </div>
</div>-->
<div class="group">
    <div class="btn-toolbar">
        <div class="btn-group check-toggles app-type-toggles" data-toggle="buttons-checkbox">
            <button class="btn" type="button" id="type-toggle-land" data-event-click="controllers.search.toggle">
                Land
            </button>
            <button class="btn" type="button" id="type-toggle-creature" data-event-click="controllers.search.toggle">
                Creature
            </button>
            <button class="btn" type="button" id="type-toggle-sorcery" data-event-click="controllers.search.toggle">
                Sorcery
            </button>
            <button class="btn" type="button" id="type-toggle-instant" data-event-click="controllers.search.toggle">
                Instant
            </button>
            <button class="btn" type="button" id="type-toggle-enchant" data-event-click="controllers.search.toggle">
                Enchant
            </button>
            <button class="btn" type="button" id="type-toggle-artifact" data-event-click="controllers.search.toggle">
                Artifact
            </button>
            <button class="btn" type="button" id="type-toggle-planeswalker" data-event-click="controllers.search.toggle">
                Planeswalker
            </button>
        </div>
    </div>
</div>
<div class="group">
    <input type="text" name="sets" value="1"/>
</div>
