<form class="form-search search-simple" data-event-submit="controllers.search.submitSearch">
    <input type="text" class="input-large search-query" name="q" 
    placeholder="Card name, text, type" data-bind="controllers.search.query.q"/>
    <button class="btn">
        <i class="icon-search"></i>
    </button>
    <button class="btn app-toggleAdvanced" data-event-click="controllers.search.advancedToggle">
        <i class="icon-list-alt"></i>
    </button>
    <div id="app-advanced-search" data-partial="search/_advanced" data-showif="controllers.search.advancedEnabled">
    </div>
</form>
