<form class="form-search">
    <div class="group">
        <div class="btn-toolbar">
            <div class="btn-group check-toggles" data-toggle="buttons-checkbox">
                <button class="btn">
                    <i class="icon-mana-b"></i>
                </button>
                <button class="btn">
                    <i class="icon-mana-u"></i>
                </button>
                <button class="btn">
                    <i class="icon-mana-w"></i>
                </button>
                <button class="btn">
                    <i class="icon-mana-g"></i>
                </button>
                <button class="btn">
                    <i class="icon-mana-r"></i>
                </button>
                <button class="btn">
                    <i class="icon-mana-1"></i>
                </button>
            </div>
        </div>
    </div>
</form>
