.row
  a.navbar-brand(href='#') Topdeck.pro
    sup
      small.label.label-danger alpha
  .navbar-form.navbar-right(role='help')
    button#feedback-btn.btn.btn-danger Feedback and Support
  form.navbar-form(role='search')
    .input-group
      input.form-control(type='search', name='q', placeholder='Blue creatures with flying', autocomplete='off')
      span.input-group-btn
        button.btn.btn-default(type='submit')
          span.glyphicon.glyphicon-search
