doctype html
html
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(charset='utf-8')
    meta(name='description', content='Magic: the Gathering card database and search tool')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Topdeck.pro

    link(rel='stylesheet', href='./css/vendor.css', type='text/css')
    link(rel='stylesheet', href='./css/app.css', type='text/css')
    script(src="./js/app.js")

  body#app
