#td-app
//padding-top: 40px

#td-main
  margin: 60px
  position: relative

#products-list
  h3
    line-height: 18px

#td-search
  padding: 0 60px

#td-search-results
  text-align: center

#td-search-results .td-card img
  vertical-align: bottom
  margin-bottom: 15px
  margin-right: 15px
  -moz-border-radius: 10px
  -webkit-border-radius: 10px
  border-radius: 10px
  -moz-box-shadow: 0px 2px 7px 2px #999
  -webkit-box-shadow: 0px 2px 7px 2px #999
  box-shadow: 0px 2px 7px 2px #999
  width: 223px
  height: 310px

#td-search-results .td-card img:hover
  cursor: pointer

#td-card-info
  display: none
  background-color: #333
  -webkit-box-shadow: #000 0 0 20px 2px inset
  box-shadow: #000 0 0 20px 2px inset
  padding: 40px
  margin: 10px 0 20px 0
  width: 100%
  text-align: left
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  position: relative

  .td-arrow-wrap
    position: absolute
    overflow: hidden
    top: -22px
    left: 50%
    margin-left: -30px
    width: 29px
    height: 50px

  .td-arrow
    height: 70px
    width: 70px
    position: absolute
    pointer-events: none
    background-color: #333
    -webkit-transform: rotate(45deg)
    -moz-transform: rotate(45deg)
    transform: rotate(45deg)
    -webkit-box-shadow: black 0 0 14px 2px inset
    -moz-box-shadow: black 0 0 14px 2px inset
    box-shadow: black 0 0 14px 2px inset
    top: 22px
    left: -20px

  img
    border-radius: 14px

  .td-card-rules
    color: #fff

  .td-card-rules-list
    margin-top: 20px
    color: #ccc
