<h1>Magic: The Gathering™ cards search tool</h1>
<p class="lead">Use fulltext search engine by typing what do you want to find, or try some links below to look at card sets in whole</p>
<h2>Choose a product to explore</h2>
<div id="products-list">
    {{#each cardSets }}
    <div class="row-fluid">
        <h3 class="span1">{{year}}</h3>
        <div class="span2">
            {{#with core}}
                {{> card_sets }}
            {{/with}}
        </div>
        <div class="span3">
            {{#with block}}
                {{> card_sets }}
            {{/with}}
        </div>
        <div class="span2">
            {{#with duel}}
                {{> card_sets }}
            {{/with}}
        </div>
        <div class="span4">
            {{#with other}}
                {{> card_sets }}
            {{/with}}
        </div>
    </div>
    {{/each}}
</div>
