<ul class="nav nav-list">
    <li class="nav-header">Colors</li>
    <li>
        <div class="btn-toolbar">
            <div class="btn-group" data-toggle="buttons-checkbox">
                <button class="btn btn-mini filter-toggle colorr" data-forge-filter-toggle='{"color": "r"}'>
                    <i class="icon-color-r color-toggle-icon"></i>
                </button>
                <button class="btn btn-mini filter-toggle colorg" data-forge-filter-toggle='{"color": "g"}'>
                    <i class="icon-color-g color-toggle-icon"></i>
                </button>
                <button class="btn btn-mini filter-toggle colorb" data-forge-filter-toggle='{"color": "b"}'>
                    <i class="icon-color-b color-toggle-icon"></i>
                </button>
                <button class="btn btn-mini filter-toggle colorw" data-forge-filter-toggle='{"color": "w"}'>
                    <i class="icon-color-w color-toggle-icon"></i>
                </button>
                <button class="btn btn-mini filter-toggle coloru" data-forge-filter-toggle='{"color": "u"}'>
                    <i class="icon-color-u color-toggle-icon"></i>
                </button>
                <button class="btn btn-mini filter-toggle colorc" data-forge-filter-toggle='{"color": "c"}'>
                    <i class="icon-color-1 color-toggle-icon"></i>
                </button>
                <button class="btn btn-mini filter-toggle colora" data-forge-filter-toggle='{"color": "a"}'>
                    <i class="color-toggle-icon">and</i>
                </button>
            </div>
        </div>
    </li>

    <li class="divider"></li>
    <li class="nav-header">Converted mana cost</li>
    <li>
        <div class="btn-toolbar">
            <div class="btn-group" data-toggle="buttons-checkbox">
                <button class="btn btn-mini filter-toggle cmc1" data-forge-filter-toggle='{"cmc": "1"}'>1</button>
                <button class="btn btn-mini filter-toggle cmc2" data-forge-filter-toggle='{"cmc": "2"}'>2</button>
                <button class="btn btn-mini filter-toggle cmc3" data-forge-filter-toggle='{"cmc": "3"}'>3</button>
                <button class="btn btn-mini filter-toggle cmc4" data-forge-filter-toggle='{"cmc": "4"}'>4</button>
                <button class="btn btn-mini filter-toggle cmc5" data-forge-filter-toggle='{"cmc": "5"}'>5</button>
                <button class="btn btn-mini filter-toggle cmc6" data-forge-filter-toggle='{"cmc": "6"}'>6</button>
                <button class="btn btn-mini filter-toggle cmc7" data-forge-filter-toggle='{"cmc": "7"}'>7+</button>
            </div>
        </div>
    </li>

    <li class="divider"></li>
    <li class="nav-header">Rarity</li>
    <li>
        <div class="btn-toolbar">
            <div class="btn-group" data-toggle="buttons-checkbox">
                <button class="btn btn-mini filter-toggle raritycommon" data-forge-filter-toggle='{"rarity": "common"}'>Common</button>
                <button class="btn btn-mini filter-toggle rarityuncommon" data-forge-filter-toggle='{"rarity": "uncommon"}'>Uncommon</button>
                <button class="btn btn-mini filter-toggle rarityrare" data-forge-filter-toggle='{"rarity": "rare"}'>Rare</button>
                <button class="btn btn-mini filter-toggle raritymythic" data-forge-filter-toggle='{"rarity": "mythic"}'>Mythic</button>
            </div>
        </div>
    </li>

    <li class="divider"></li>
    <li class="nav-header">Type</li>
    <li>
        <div class="btn-toolbar">
            <div class="btn-group" data-toggle="buttons-checkbox">
                <button class="btn btn-mini filter-toggle typeland" data-forge-filter-toggle='{"type": "land"}'>Land</button>
                <button class="btn btn-mini filter-toggle typecreature" data-forge-filter-toggle='{"type": "creature"}'>Creature</button>
                <button class="btn btn-mini filter-toggle typesorcery" data-forge-filter-toggle='{"type": "sorcery"}'>Sorcery</button>
                <button class="btn btn-mini filter-toggle typeinstant" data-forge-filter-toggle='{"type": "instant"}'>Instant</button>
            </div>
        </div>
        <div class="btn-toolbar">
            <div class="btn-group" data-toggle="buttons-checkbox">
                <button class="btn btn-mini filter-toggle typeplaneswalker" data-forge-filter-toggle='{"type": "planeswalker"}'>Planeswalker</button>
                <button class="btn btn-mini filter-toggle typeenchant" data-forge-filter-toggle='{"type": "enchant"}'>Enchant</button>
                <button class="btn btn-mini filter-toggle typeartifact" data-forge-filter-toggle='{"type": "artifact"}'>Artifact</button>
            </div>
        </div>
    </li>

    <li class="divider"></li>
    <li class="nav-header">Sets</li>
    <select class="filter-sets" multiple>
        {{#each card_sets}}
            <option value="{{acronym}}">{{name}}</option>
        {{/each}}
    </select>
    <li class="divider"></li>

    <button class="btn btn-mini btn-link filter-reset">Reset</button>
</ul>
