form(role='search')
  .input-group
    input.form-control(type='search', name='q', placeholder='Blue creatures with flying', autocomplete='off')
    span.input-group-btn
      button.btn.btn-default(type='submit')
        span.glyphicon.glyphicon-search
