<div id="td-card-info" class="row-fluid">
    <div class="td-arrow-wrap" style="left: <%= arrowPosition %>px">
        <div class="td-arrow"></div>
    </div>
    <img src="<%= card.thumb %>" class="span3"/>
    <h2 class="span4" style="color: #fff"><%= card.name %></h2>
</div>
