<a class="brand" href="#">MTGForge</a>
<form class="navbar-form pull-left" id="search-form" style="margin-right: 20px;">
    <div class="input-append">
        <input id="q-input" type="text" class="input-xxlarge" name="q" placeholder="Blue creatures with flying"/>
        <button type="submit" class="btn btn-primary">
            <i class="icon-search icon-white"></i>
        </button>
    </div>
</form>
