<div class='td-serp-row'>
    <% for (i in cards) { %>
        <% var card = cards[i] %>
        <span class="td-card">
            <img src="<%= card.thumb %>" class="color_identity_<%= card.color_identity %>" data-id="<%= card.id %>"/>
        </span>
    <% } %>
</div>
