<form class="form-search search-simple">
    <input type="text" class="input-xlarge search-query" placeholder="Card name, text, type"/>
    <button class="btn">
        <i class="icon-search"></i>
    </button>
    <button class="btn app-toggleAdvanced">
        <i class="icon-list-alt"></i>
    </button>
</form>

<div id="app-advanced-search"></div>
