<form class="form-search search-simple">
    <input type="text" class="input-large search-query" name="q" 
    placeholder="Card name, text, type" value="<%= searchModel.get('query')["q"] %>"/>
    <button class="btn">
        <i class="icon-search"></i>
    </button>
    <button class="btn app-toggleAdvanced">
        <i class="icon-list-alt"></i>
    </button>
<div id="app-advanced-search"></div>
