<!DOCTYPE html>
{% load media %}
{% load static %}
<html>
<head>
    <title>MTG Forge</title>
    {% include_media 'libs.css' %}
    {% include_media 'libs.js' %}
    {% include_media 'common.css' %}
    {% include_media 'common.js' %}
    {% include_media 'models.js' %}
    {% include_media 'controllers.js' %}
    {% include_media 'views.js' %}
</head>
<body id="app">
    <div id="wrapper">
        <div id="app-main">
            <div data-yield="main"></div>
        </div>
    </div>
</body>
</html>
