<!DOCTYPE html>
{% load media %}
{% load static %}
<html>
<head>
    <title>MTG Forge</title>
    {% include_media 'libs.css' %}
    {% include_media 'libs.js' %}
    {% include_media 'common.css' %}
    {% include_media 'common.js' %}
</head>
<body>
    <h1>MTG Forge</h1>
    <ul id="cards">
        <li data-foreach-card="Card.all">
            <input type="number" data-bind="card.cmc" />
            <label data-bind="card.name"></label>
            <button class="btn" data-event-click="card.save"><i class="icon-save"></i></button>
        </li>
    </ul>
</body>
</html>
