<!DOCTYPE html>
{% load media %}
{% load static %}
<html>
<head>
    <title>MTG Forge</title>
    {% include_media 'libs.css' %}
    {% include_media 'libs.js' %}
    {% include_media 'common.css' %}
    {% include_media 'common.js' %}
    {% include_media 'models.js' %}
    {% include_media 'controllers.js' %}
    {% include_media 'views.js' %}
</head>
<body id="app">
        <div id="app-main">
            <div id="sidebar">
                <div id="app-search" data-partial="search/_search"></div>
            </div>
            <div id="main" data-yield="main"></div>
    </div>
</body>
</html>
