<% _.each(cs_list, function(cs) { %>
    <h4>
        <a class="card-set"
            data-acronym="<%= cs.get("acronym") %>"
            href="#<%= cs.getSearchUrl() %>"
        >
            <%= cs.get("name") %>
        </a>
    </h4>
<% }) %>
