<div class="">
    <h1>Magic: The Gathering cards intelligent search tool</h1>
    <p class="lead">Just start typing your search query in the box and see magic.</p>
    <h2>Choose a product to explore</h2>
    <div id="products-list">
    <% _.each(card_sets, function(cs) { %>
        <a class="card-set"
            data-acronym="<%= cs.acronym %>"
            href="#">
            <%= cs.name %>
        </a>
    <% }) %>
    </div>
</div>
