<ul class="nav nav-list">
    <li class="nav-header">Colors</li>
    <li>
        <i class="icon-color-r"></i>
        <i class="icon-color-g"></i>
        <i class="icon-color-b"></i>
        <i class="icon-color-w"></i>
        <i class="icon-color-u"></i>
    </li>
</ul>
