
    <ul class="cards-list">
        <li class="app-card" data-foreach-card="cards">
            <img data-bind-src="card.scan" />
        </li>
    </ul>

    <div class="well next-cards" style="text-align: center" data-showif="meta.next.length">
        <a class="app-load-next" data-event-click="controllers.cards.loadNext">More cards!</a>
    </div>
    <!--<div class="next-spinner spinner" style="display: none"></div>-->
    
    <!--<div>-->
        <!--<h1>Nothing found :(</h1>-->
    <!--</div>-->
