<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Topdeck.pro</title>
    <meta name="description" content="Magic: the Gathering card database and search tool">
    <link rel="stylesheet" href="{% static "css/app.css" %}" type="text/css" />
</head>
<body id="td-app">
    <div class="td-navbar navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div id="td-search">
            </div>
        </div>
    </div>
    <div id="td-main">
    </div>
</body>
<script>
    window.serverData = {};
    window.serverData.card_sets = [
        {% for cs in sets %}
        {
            "name": "{{ cs.name|escapejs }}",
            "acronym": "{{ cs.acronym|escapejs }}"
        }{% if forloop.revcounter0 %},{% endif %}
        {% endfor %}
    ];
</script>
<script src="{% static "js/app.js" %}"></script>
<script>require('init')</script>
</html>
