.navbar.navbar-default.navbar-fixed-top(role='navigation')
  .container-fluid
    .row
      a.navbar-brand(href='#') Topdeck.pro
        sup
          small.label.label-danger alpha
      #td-search.navbar-form
#td-main
#td-modal
